{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "printWidth": 120,
    "endOfLine": "lf",
    "singleAttributePerLine": true,
    "overrides": [
        {
            "files": ["*.json", "*.jsonc"],
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": ["*.css", "*.scss", "*.sass"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
